.start {
  background-color: rgb(26, 202, 102) !important;
  padding: 0.8rem 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
}

.reset {
  background-color: blue !important;
  padding: 0.8rem 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.stop {
  background-color: red !important;
  padding: 0.8rem 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.pomodoro {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.pomodoro .title {
  font-size: 2.5rem;
}

.timer {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
}

.body .bodyText {
  font-size: 2.5rem;
}

.button {
  display: flex;
  align-content: center;
  justify-content: center;
}
